<div class='container'>
  <h1 class="border-bottom"><%= @task.title %></h1>
  <h5 class=><%= @task.details %></h5>

  <p class="border-bottom"> This task is not completed yet <p>
  <%= link_to "Edit Task", task_edit_path  %><br>
  <%= link_to 'Back to task list', "/tasks"  %>
</div>
